@model Thinktecture.IdentityModel.Client.TokenResponse

@{
    ViewBag.Title = "Token response";
}

<h2>Token response</h2>
<br />

<p>
    <strong>Token response:</strong>
    <br />
    <pre>@Model.Json.ToString()</pre>
</p>

<p>
    <strong>Identity token:</strong>
    <pre>@ViewBag.IdentityTokenParsed</pre>
</p>

<p>
    <strong>Access token:</strong>
    <pre>@ViewBag.AccessTokenParsed</pre>
</p>

<p>
    <strong>Token type:</strong>
    <br />
    @Model.TokenType
</p>

<p>
    <strong>Expires:</strong>
    <br />
    @(DateTime.Now.AddSeconds(Model.ExpiresIn).ToString())
</p>

<p>
    <strong>Refresh token:</strong>
    <br />
    @Model.RefreshToken
</p>